
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditProfile</title>
</head>
<body>
    <div> 
        <p>
            <label>UserName : <b>@ViewData["userName"]</b></label>
        </p>
        <h2>Location's List...</h2>
        <ul>
            @foreach (var l in ViewData["locationList"] as List<string>)
            {
                <li>@l</li>
            }
        </ul>
    </div>
</body>
</html>
